@charset "UTF-8";
/*优惠券样式*/
main {
  background: #F7F7F7;
}

.coupon {
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.coupon img {
  width: 220px;
  margin: 20px 15px;
}

.coupon img:first-child {
  width: 180px;
}

.medical {
  overflow: hidden;
}

.medical .yao {
  width: 33.33%;
  background: #F7F7F7;
  padding-left: 55px;
  line-height: 55px;
}

.medical .yao i {
  font-size: 30px;
  margin-right: 12px;
}

.medical .yao p {
  font-size: 24px;
  margin-right: 20px;
}

.medical .yao span {
  color: #A5A5A5;
  font-family: "楷体";
}

.medical .hoverArea {
  position: relative;
  width: 100%;
  height: 360px;
  overflow-y: hidden;
  background: #fff;
}

.medical .hoverArea ul {
  position: absolute;
  display: none;
}

.medical .hoverArea ul div {
  width: 206px;
  height: 206px;
}

.medical .hoverArea ul:first-child {
  display: block;
}

.medical .hoverArea li {
  width: 20%;
  float: left;
  padding: 20px;
}

.medical .hoverArea li p {
  padding: 10px;
}

.medical .hoverArea img {
  width: 100%;
  margin-bottom: 10px;
}

.medical .highWhite {
  background: #fff;
}

#medicalType {
  padding-top: 30px;
  width: 100%;
  background: #F8F8F8;
}

#medicalType .medicalType {
  background: #fff;
}

#medicalType .medicalType > div {
  margin-bottom: 42px;
}

#medicalType .medicalType .banner_shop img {
  width: 100%;
}

#medicalType aside {
  width: 195px;
}

#medicalType aside h4 {
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}

#medicalType aside .use li {
  border: 1px solid #ccc;
}

#medicalType .floorOne h4 {
  background: #63C19F;
}

#medicalType .floorTwo h4 {
  background: #FB375B;
}

#medicalType .floorThree .brandName {
  padding-left: 350px;
}

#medicalType .floorThree h4 {
  background: #373CFA;
}

#medicalType .floorFour h4 {
  background: #FB9437;
}

#medicalType .floorFive h4 {
  color: #000;
}

#medicalType .floorOne .goods_1 img {
  height: 150px;
}

#medicalType .floorOne .goods_2 li:first-child img {
  height: 100px;
}

#medicalType .floorFive .pic, #medicalType .floorFive .brandIMG {
  width: 500px;
}

#medicalType .floorFive .use {
  background: #B06402;
  border: 2px solid #B06402;
}

#medicalType .floorFive .use li {
  border: none;
  color: #fff;
}

#medicalType .floorFive .brandName {
  padding-bottom: 1px;
  border-bottom: 2px solid #B06402;
}

#medicalType .floorFive .goods_1 {
  margin-bottom: 20px;
}

#medicalType .floorFive .goods_1 li {
  height: 220px;
  width: 120px;
}

#medicalType .floorFive .goods_1 img {
  width: 120px;
  margin-bottom: 20px;
}

#medicalType .floorFive .goods_1 div {
  width: 120px;
  height: 150px;
}

#medicalType .floorFive .goods_2 li {
  height: 180px;
  width: 120px;
  margin: 0px 18px;
}

#medicalType .floorFive .goods_2 div {
  width: 120px;
  height: 120px;
}

#medicalType .floorFive .goods_2 img {
  width: 120px;
}

#medicalType .floorFive .goods_2 p {
  margin-bottom: 10px;
}

#medicalType section .brandName {
  width: 100%;
  padding-left: 375px;
  border-bottom: 2px solid #76C5A1;
}

#medicalType section .pic {
  width: 605px;
  overflow: hidden;
}

#medicalType section .pic ul {
  width: 1210px;
}

#medicalType section .pic ul li {
  float: left;
}

#medicalType section .goods_1 {
  padding-top: 20px;
}

#medicalType section .goods_1 li {
  height: 280px;
  width: 160px;
  margin: 0px 18px;
}

#medicalType section .goods_1 div {
  width: 160px;
  height: 200px;
}

#medicalType section .goods_1 img {
  width: 160px;
  margin-bottom: 20px;
}

#medicalType section .goods_1 p {
  margin-bottom: 10px;
}

#medicalType section .goods_2 li {
  width: 200px;
  text-align: center;
  text-align: center;
}

#medicalType section .goods_2 div {
  width: 200px;
  height: 150px;
  text-align: center;
}

#medicalType section .goods_2 img {
  width: 100px;
  margin-bottom: 20px;
}

#medicalType section .goods_2 p {
  margin-bottom: 10px;
}

/*5楼以下*/
/*6楼*/
.show {
  width: 910px;
}

.show .titleArea {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #4E71AC;
}

.show .titleArea a {
  float: left;
  height: 51px;
  line-height: 50px;
  width: 120px;
  text-align: center;
}

.show .showArea {
  width: 100%;
  background: #fff;
  height: 250px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-top: none;
}

.show .showArea img {
  width: 10%;
  height: 100px;
}

.show .showArea .rate {
  width: 80%;
  height: 100px;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
}

.show .showArea .rate h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
}

.show .showArea .ulList {
  font-size: 12px;
  line-height: 30px;
}

.show .showArea .ulList > ul {
  margin: 20px 20px;
  margin-right: 70px;
}

.show .showArea .ulList a {
  color: #4095D5;
}

.report {
  width: 290px;
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.report h4, .report a {
  line-height: 50px;
  margin: 0px 12px;
}

.report h4 {
  color: #616161;
  font-weight: 600;
}

.reportPic {
  width: 290px;
  text-align: center;
  position: relative;
}

.reportPic ul {
  width: 756px;
}

.reportPic ul li {
  float: left;
}

.reportPic ul img {
  height: 170px;
  width: 255px;
}

.reportPic h5 {
  margin-top: -20px;
  font-size: 16px;
  position: absolute;
  left: 28px;
  z-index: 300;
  color: #fff;
}

.texts {
  font-size: 12px;
  line-height: 25px;
  padding-left: 18px;
}

.webList li {
  float: left;
  width: 5.26%;
  font-size: 12px;
}
