/* 
* @Author: Marte
* @Date:   2019-04-12 00:59:28
* @Last Modified by:   Marte
* @Last Modified time: 2019-04-12 10:52:37
*/
.register_link {
  float: right;
  color: #999;
  margin-top: 50px; }
  .register_link a {
    color: #4095d4; }

.login {
  background: url("//img.yaofang.cn/pc/login_bg.jpg?v=201701") no-repeat center top #45a9c9; }
  .login .slogan {
    float: left; }
    .login .slogan img {
      margin: 25px 0 0 50px; }
  .login .content {
    float: right;
    width: 350px;
    background: #fff;
    padding: 20px 15px;
    margin: 40px 0;}
    .login .content .tab_menu {
      *height: 1%;
      border-bottom: 2px solid #ccc;
      margin-bottom: 25px;
      float: none; }
      .login .content .tab_menu:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden; }
      .login .content .tab_menu ul {
        width: 270px;
        margin-left: auto;
        margin-right: auto; }
        .login .content .tab_menu ul li {
          margin: 0;
          background: none;
          text-align: center;
          width: 100%;
          float: left;
          padding: 0;
          line-height: 50px;
          height: 50px;
          margin-bottom: -2px; }
          .login .content .tab_menu ul li a {
            font-size: 18px; }
        .login .content .tab_menu ul li.on {
          border-bottom: 2px solid #0c69ae; }
          .login .content .tab_menu ul li.on a {
            color: #0c69ae; }
    .login .content .tishi {
      display: none;
      padding: 0 20px 10px;
      position: relative;top: -14px;
      background: #ffebeb;
      color: #e4393c;
      border: 1px solid #faccc6;
      padding: 3px 10px 3px 20px;
      line-height: 15px;
      height: auto;
      margin: 0 20px;}
      .login .content .tishi i{
        margin-right: 5px;}
    .login .content .list_common {
      padding: 0 20px; }
      .login .content .list_common dl {
        position: relative; }
        .login .content .list_common dl dt {
          height: 40px;
          line-height: 40px;
          border: 1px solid #cfcfcf;
          margin-bottom: 25px;
          position: relative; }
          .login .content .list_common dl dt i {
            font-size: 24px;
            margin-left: 10px;
            color: #999;
            float: left;
            width: 25px; }
          .login .content .list_common dl dt input {
            width: 218px;
            float: left;
            height: 38px;
            line-height: 40px;
            padding: 0 10px; }
        .login .content .list_common dl dd {
          margin-bottom: 25px;
          *height: 1%;
          position: relative; }
          .login .content .list_common dl dd:after {
            clear: both;
            content: '.';
            display: block;
            height: 0;
            line-height: 0;
            overflow: hidden; }
          .login .content .list_common dl dd input.text1 {
            float: left;
            width: 145px;
            height: 40px;
            line-height: 40px;
            border: 1px solid #cfcfcf; }
          .login .content .list_common dl dd .smsVer {
            background: #1d8bd7;
            width: 92px;
            height: 32px;
            text-align: center;
            color: #fff;
            display: inline-block;
            line-height: 32px;
            font-size: 12px;
            background: #f7f7f7;
            color: #5b5b5b;
            height: 40px;
            line-height: 42px;
            border: 1px solid #cfcfcf;
            width: 135px;
            cursor: pointer;
            font-size: 14px;
            float: left;
            margin-left: 5px; }
          .login .content .list_common dl dd .smsVer:hover {
            background: #fff; }
          .login .content .list_common dl dd .imgVer {
            font-size: 12px;
            color: #4095d4;
            float: left;
            margin-left: 5px; }
            .login .content .list_common dl dd .imgVer img {
              float: left;
              margin-right: 10px;
              height: 40px;
              width: 90px; }
            .login .content .list_common dl dd .imgVer i {
              float: left;
              line-height: 20px; }
          .login .content .list_common dl dd .Validform_checktip {
            bottom: -20px; }
        .login .content .list_common dl .Validform_checktip {
          clear: both;
          position: absolute;
          bottom: -32px; }
      .login .content .list_common .btn input {
        background: #1d8bd7;
        width: 92px;
        height: 32px;
        text-align: center;
        color: #fff;
        display: inline-block;
        line-height: 32px;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        width: 100%;
        font-size: 18px;
        margin-top: 20px;
        cursor: pointer; }
      .login .content .list_common .btn input:hover {
        background: #43a7ec; }
      .login .content .list_common p {
        padding: 5px 0; }
    .login .content .userLogin .btn input {
      margin-bottom: 10px; }
    .login .content .mobileLogin .btn input {
      margin-top: 0; }
    .login .content .other_login {
      line-height: 40px;
      margin-top: 15px;
      margin-left: 25px; }
      .login .content .other_login span {
        float: left; }
      .login .content .other_login a {
        font-size: 32px;
        margin-right: 15px;
        color: #ff8813;
        float: left; }
      .login .content .other_login a.icon-zhifubao {
        margin-top: 3px; }
      .login .content .other_login a.icon-qq {
        color: #65a3de; }

      .login .content .other_login a.icon-weixin {
        color: #08BA06;
        font-size: 34px;
        margin-top: 2px;
      }